################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs
/Bikash.BookStores/.vs/Bikash.BookStores
/Bikash.BookStores/.vs/Bikash.BookStores
/Bikash.BookStores/Bikash.BookStores/bin/Debug/netcoreapp3.1
/Bikash.BookStores/Bikash.BookStores/bin/Debug/netcoreapp3.1
/Bikash.BookStores/Bikash.BookStores/wwwroot/lib
