

<section class="jumbotron text-center">
    <div class="container>
        <h1>Welcome to book store</h1>
        
        <p>
            <a href="#" class="btn btn-primary my-2">search Book</a>
        </p>
        <h1>This is book store page</h1>
    </div>

</section>
